<div>
    <h1>Jugadores de Liga de Quito</h1>    
    <a href="equipos/1/jugadores/agregar" class="btn btn-primary">Nuevo Jugador</a>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">PRECIO</th>
        <th scope="col">NACIONALIDAD</th>
        <th scope="col">ACCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ADRIAN</td>
        <td>GABBARINI</td>
        <td>$5000</td>
        <td>ARGENTINO</td>
        <td>
            <button class="btn btn-info btn-block">Editar Jugador</button>
            <button class="btn btn-info btn-danger">Eliminar Jugador</button>

        </td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>BILLY</td>
        <td>ARCE</td>
        <td>$2000</td>
        <td>ECUATORIANO</td>
        <td>
            <button class="btn btn-info btn-block">Editar Jugador</button>
            <button class="btn btn-info btn-danger">Eliminar Jugador</button>

        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>LUIS</td>
        <td>AYALA</td>
        <td>$1000</td>
        <td>ECUATORIANO</td>
        <td>
            <button class="btn btn-info btn-block">Editar Jugador</button>
            <button class="btn btn-info btn-danger">Eliminar Jugador</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>PEPE</td>
        <td>SORIA</td>
        <td>$1000</td>
        <td>ECUATORIANO</td>
        <td>
            <button class="btn btn-info btn-block">Editar Jugador</button>
            <button class="btn btn-info btn-danger">Eliminar Jugador</button>
        </td>
      </tr>
    </tbody>
  </table>