<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre del Jugador</label>
      <input type="text" class="form-control" id="nombre_jugador"  placeholder="Ingrese el nombre del jugador">     
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Apellido del Jugador</label>
        <input type="text" class="form-control" id="apellido_jugador"  placeholder="Ingrese el apellido del jugador">     
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Precio del Jugador</label>
        <input type="text" class="form-control" id="precio_jugador"  placeholder="Ingrese el precio del jugador">     
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Nacionalidad del Jugador</label>
        <input type="text" class="form-control" id="precio_jugador"  placeholder="Ingrese la nacionalidad del jugador">     
    </div>   
    <br> 
    <a href="equipos/1/jugadoress/" class="btn btn-primary">Guardar Jugador</a>
  </form>

  